@media (max-width: 1200px){
    .flex-content{
        display:flex;
        justify-content: end;
        align-items: end;
    }
}
@media (max-width: 992px){
    .logo{
        object-fit: contain;
    }
    .footer-social ul{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-social h3{
        font-size:22px;
    }
    .mobil{
        display:none ;
        transition: all 0.3s ease-in-out;
    }
    .mobil.active{
        display:block;
    }
    .hamburger{
        display:block;
    }
    .navigation {
        display: block; /* Change display to block */
        visibility: hidden; /* Start with visibility hidden */
        opacity: 0; /* Start with opacity 0 */
        justify-content: center;
        align-items: start;
        padding: 20px 0;
        position: absolute;
        top: 118px;
        right: 0; /* Start with right 0 */
        width: 80%;
        height: calc(100vh - 120px);
        background-color: #fff;
        z-index: 999999;
        transition: visibility 0.3s, opacity 0.3s ease-in-out; /* Add transition for visibility and opacity */
    }

    .navigation.active {
        visibility: visible; /* Make it visible when active */
        opacity: 1; /* Make it fully opaque when active */
    }

    .navigation .navigation-lists{
        display: flex;
        gap: 0;
        flex-direction: column;
        margin-bottom: 0 !important;
        position: relative;
        top: 50px;
        padding-left: 0 !important;
    }
    .dropdown {
        position: relative !important;
        background: transparent !important;
        box-shadow: none !important;
        padding: 0 !important;
        width: 100%;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    }

    .dropdown.active {
        max-height: 500px; /* İçeriğin maksimum yüksekliğine uygun bir değer verin */
        opacity: 1;
        visibility: visible;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }
    .dropdown-list .dropdown li{
        position: relative;
    }
    .dropdown-list .dropdown li:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #000;
        background-color: #000;
    }


    .navigation .navigation-lists .navigation-list .navigation-list-text{
        font-size: 15px;
        font-weight: 500;
        color: #000;
        transition: color 0.3s;
        padding:10px 0;
    }
    .navigation .navigation-lists .navigation-list .navigation-list-text:hover{
        color: var(--restaurant-color);
    }
    .navigation-list{
        padding:15px 10px;
        position: relative;
    }
    .navigation-list:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
    }
}
@media (max-width: 767px) {
    .accordion{
        padding: 50px 20px;
    }
    .homeSlider .swiper-text h1{
        font-size: 34px;
    }
    .homeSlider .swiper-text p{
        font-size: 15px;
    }
    .about-us-title{
        font-size: 30px;
    }
    .coming-soon-title{
        font-size: 38px;
    }
    .button{
        padding-inline: 0;
    }
    .about-us-img-one{
        width: auto;
        height: auto;
    }
    .about-us-img-two{
        width: 250px;
        height: 250px;
        right: 0;
        top: unset;
        bottom: -50px !important;
    }
    .about-mobil-margin{
        margin-top: 70px;
    }
    .about-us{
        padding:100px 0 50px 0
    }
    .footer-contact::before{
        bottom: 0;
        top: unset;
        left: 0;
        right: unset;
        height: 1px;
        width: 100%;
    }
    .footer-contact::after{
        bottom: unset;
        top: 0;
        left: 0;
        right: unset;
        height: 1px;
        width: 100%;
    }
    .footer-social{
        margin: 20px 0;
    }
    .footer-social ul{
        grid-template-columns: repeat(5,1fr);
    }
    .news-line{
        top: -35px;
    }
    .footer-contact{
        padding: 10px 0;
    }
    .footer-logo img{
        height: 150px;
    }
    .subeler-items:hover .subeler-img img{
        transform: scale(1);
    }
    .subeler-items:hover .subeler-content{
        margin-top: -50px;
    }
    .footer-social ul{
        gap: 0;
    }
    .dropdown.active{
        position:relative !important;
        border-radius: 0 !important;
    }
    .certificates-content{
        padding: 0 20px;
    }
}